.form__result {
    display: inline-block;
    height: 40px;
    min-width: 80px;
    padding: 5px 12px;
    color: green;
    border: 1px solid green;
    text-align: center;
    border-radius: 0.25rem;
}
